@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ChartContainer {
  height: 100%;
}

.mainContainer {
  width: 100%;
  height: 100%;
  font-family: "'Inconsolata', monospace";
}

.buttonDiv {
  background-color: white;
}

.buttonDiv button {
  background-color: #0f9289;
  width: fit-content;
  border-radius: 12px;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  margin: 10px;
}

.displayDiv {
  height: 25px;
}

.file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-container .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1em;
}